body{
    background-color:beige;
    margin: 50px;
    font-family:'Times New Roman', Times, serif;
    font-style:unset;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

button{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: oblique;
}