
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&family=Ubuntu:wght@300&display=swap');

body{
    margin: 20px 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(243, 243, 229);
}
.titulo{
    color: black;
    font-size: 40px;
    text-align: left;
    font-family: 'Cabin', sans-serif;
    width: 50%;
}

.cabeçalho{
    color: black;
    font-size: 15px;
    text-align: left;
    font-family: 'Cabin', sans-serif;
}

.corpo_do_texto{
    color: black;
    font-size: 17px;
    text-align: justify;
    font-family: 'Cabin', sans-serif;
}

li , i , ul , p{
    font-family: 'Cabin', sans-serif;
    font-size: 17px;
}
.subtitulo{
    color: black;
    font-size: 20px;
    text-align: justify;
    font-family: 'Cabin', sans-serif;
}

.container-titulo-imagem{
    display: flex;
}

.foto-perfil{
    width: 20%;
    margin-left: auto;
    display: block;
    border-radius: 50%;
    height: 220px;
}

.infos{
    display: block;
    width: 60%;
}